ffmpeg-python==0.2.0
matplotlib==3.4.3
numpy==1.23.0
opencv-contrib-python-headless==4.8.1.78
opencv-python-headless==4.8.1.78
paho-mqtt==1.6.1
pandas==1.3.4
Pillow==8.4.0
psutil==5.9.1
PyYAML==6.0
seaborn==0.11.2
signalslot==0.1.2
torch==1.10.2
